@inject IRecommendationService recommendationService
@inject IMfService mfService

<div id="reco" class="green-recos">
    <h3>Related Products</h3>
    @foreach (var recommendation in recommendationService.GetRecommendationsFor(Id))
    {
    <img
        src="@mfService.GetLink(recommendation.Image)"
        alt="@recommendation.Name"
    />
    }
</div>

@code {
    [Parameter]
    public string Id { get; set; } = "porsche";
}
